<!DOCTYPE html>
<!--[if IE 7]> <html lang="en" class="lt-ie9 lt-ie8 no-js"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="lt-ie9 no-js"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

{% include header.html %}

<body id="index" class="{{body_class}}">

  <header class="header header--desktop">

  <a class="header__close" href="#">
    <img src="{{site.baseurl}}/images/close.png" class="lazy" data-src="//static.ucl.ac.uk/indigo/images/close.png" alt="X" />Close</a>

  {% include header.html %}

  <div class="wrapper">

    <div class="sidebar">

      <nav class="nav nav--mobile">
        <ul>
          {% include nav_mobile_links.html %}
        </ul>
      </nav>

      <nav class="nav nav--left">
        <ul>
          {% include nav_left_links.html %}
        </ul>
      </nav>

    </div>
    <!-- end .sidebar -->

    <nav class="nav nav--top">
      <ul>
        {% include nav_top_links.html %}
      </ul>
    </nav>

  </div>
  <!-- end .wrapper -->

  </header>
  <!-- end .header -->

  <div class="site-content wrapper">

    <header class="header header--mobile default-header">
      <a class="header__open" href="#">
        <img src="{{site.baseurl}}/images/ucl-menu.svg" alt="Menu" />
      </a>
    </header>

    <div class="site-content__inner clearfix">
      <div class="site-content__body">

          {% unless site.no_crumbs %}
            <nav class="breadcrumb clearfix">
              <ul class="breadcrumb__list">
                {% include crumbs.html%}
              </ul>
            </nav>
           <div class="site-content__main">
            {% if page.nblink %}
               <div id="slidelink">
                 <a href="{{site.baseurl}}/{{page.path | remove: ".html" | remove: ".md"}}.ipynb">Notebook download</a>
               </div>
            {% endif %}
            {% if page.slidelink %}
               <div id="slidelink">
                 <a href="{{site.baseurl}}/{{page.path | remove: ".md"}}-reveal.html">Slides</a>
               </div>
            {% endif %}
          {% endunless %}
          {{ content_body }}
        </div>

      </div>
    </div>

  </div>
  <!-- end .site-content -->

  {% include footer.html %}

  <script src="{{site.baseurl}}/js/lib/require.min.js"></script>
  <script src="{{site.baseurl}}/js/main.js"></script>
    <script>
      require.config({
        baseUrl: '{{site.baseurl}}/js/lib'
      });
        require(["app/general", "app/searchWithAutoComplete", "app/tabs"]);//load the default stuff
    </script>

</body>

</html>
