<!DOCTYPE html>
<html lang="en-GB" prefix="og: http://ogp.me/ns#">
{% include header.html %}

<body class="post-template-default single single-post single-format-standard group-blog">
		<div id="page" class="page-container">

				<header id="masthead" class="page-header" role="banner">

			<a class="logo-box" href='https://www.turing.ac.uk'></a>
			<div class="topbox">



							</header><!-- #masthead -->

						<main id="main" class="site-main wrap" role="main">

<!-- <div id="news"> -->
<div id="news" class="full" >


	<div class="content">
						<h1>{{site.title}}</h1>

							<article class="post type-post status-publish format-standard hentry category-news" itemscope itemType="http://schema.org/BlogPosting">
		<header class="entry-header">


			{% if page.layout == 'blog' %}
			<h1 class="entry-title" itemprop="name">{{page.description}}</h1>
			{% elsif page.layout != 'blog' %}
			<h1 class="entry-title" itemprop="name">{{page.title}}</h1>
			{% endif %}


		<div class="entry-meta">

			<span class="genericon genericon-time"></span>
			<!-- span class="posted-on" itemprop="datePublished">Posted on {{page.date}}</span-->

		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

	<div class="entry-content" itemprop="articleBody" >

	{{content_body}}

	</div><!-- .entry-content -->
	{% if page.layout != 'blog' and page.layout != 'category' %}
		{% include sharing.html %}
	{% endif %}



	</article><!-- #post-## -->

		</div><!-- #content -->
  {% include sidebar.html %}


    </div> <!-- END DIV class="full"> -->
</main><!-- #main -->
</div> <!-- END DIV class="page-container"> -->



{% include footer.html %}
</body>
</html>
