<!-- Need to patch a cross-site issue with Turing font choices -->
<style>
@font-face {
  font-family: haas-unica-lt;
  src: url("{{site.baseurl}}/fonts/webfonts/haas-unica/NeueHaasUnicaPro-Light.otf");
  src: url("{{site.baseurl}}/fonts/webfonts/haas-unica/NeueHaasUnicaPro-Light.woff"); }

@font-face {
  font-family: haas-unica-reg;
  src: url("{{site.baseurl}}/fonts/webfonts/haas-unica/NeueHaasUnicaPro-Regular.otf");
  src: url("{{site.baseurl}}/fonts/webfonts/haas-unica/NeueHaasUnicaPro-Regular.woff"); }
@font-face {
  font-family: "SSSocialCircle";
  src: url('{{site.baseurl}}/fonts/ss-social-circle.eot');
  src: url('{{site.baseurl}}/fonts/ss-social-circle.eot?#iefix') format('embedded-opentype'),
       url('{{site.baseurl}}/fonts/ss-social-circle.woff') format('woff'),
       url('{{site.baseurl}}/fonts/ss-social-circle.ttf')  format('truetype'),
       url('{{site.baseurl}}/fonts/ss-social-circle.svg#SSSocialCircle') format('svg');
  font-weight: normal;
  font-style: normal;
}
  </style>
