<footer class="footer wrapper">
  <div class="footer__inner clearfix">
        <article class="block block--col-1">

          <h2 class="as-h5">The Alan Turing Institute</h2>

          <ul class="footer__list list-unstyled">
          <li class="footer__item"><a href="#">Privacy</a></li>
          <li class="footer__item"><a href="#">Terms &amp; Conditions</a></li> -->
          <li class="footer__item"><a href="https://www.turing.ac.uk/contact/">Contact</a></li>

          </ul>
      </article>

      <a id="scroll-to-top" href="#" title="Scroll to Top">Top</a>
          <script>
        // Init Flexnav Menu
      jQuery(document).ready(function($){
        $(".flexnav").flexNav({
            'animationSpeed' : 250, // default drop animation speed
            'transitionOpacity': true, // default opacity animation
              'buttonSelector': '.menu-button', // default menu button class
              'hoverIntent': true, // use with hoverIntent plugin
              'hoverIntentTimeout': 350, // hoverIntent default timeout
              'calcItemWidths': false // dynamically calcs top level nav item widths
            });
      });
    </script>
  </div>
</footer>
